.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-navbar {
  background: #000;
  color: #00ffff;
  border-bottom: 3px solid rgb(86, 95, 233);
}

.App-header {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #00ffff;
  border-bottom: 1px yellow;
}

button {
  color: rgb(0, 255, 136);
  background-color: #282c34;
  padding: 10px;
  margin: 10px;

}
img{
  width:400px;
}